.section3Wrap{
    background-color: rgb(247, 247, 247);
}

.section3{
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.section3>div{
    width: 100%;
    justify-content: space-between;
}

.purpleTitle{
    color:#403163
}

.CloneWrap{
    width: calc((100% - 30px)/3);
}

.cloneImgWrap{
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.dokdo, .kolong, .domino{
    background-size: cover;
    width: 410px;
    height: 100%;
    position: absolute;
    left: 0; right: 0;
    transition: all 0.3s linear;
}

.cloneImgWrap:hover .CloneText {
    display: block; /* 호버 시에 나타남 */
}
.cloneImgWrap:hover .dokdo,
.cloneImgWrap:hover .kolong,
.cloneImgWrap:hover .domino
{
    transform: scale(1.1);
}

.cloneImgWrap:hover .hovering{
    display: block;
}

.CloneWrap{
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hovering{
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    background-position: center;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 5;
    padding: 10px 20px 20px;
    transition: all 0.3s linear;
}

.dokdo{
    background-image: url(../../../img/dokdo.png);
}

.kolong{
    background-image: url(../../../img/kolong.png);
}

.domino{
    background-image: url(../../../img/domino.png);
}

.cloneBtn{
    border: 1px solid #fff;
    color: #fff;
    transition: all 0.2s linear;
}
.cloneBtn>a{
    color: #fff;
}

.cloneBtn:hover{
    background-color: rgb(0, 0, 0);
    border: 1px solid #000000;
    color: white;
}
.cloneBtn>a:hover{
    color: white;
}

.CloneTitle{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px;
}


.CloneTitle, .CloneCont{
    color: #fff;
}

/* 모달내용 */


@media screen and (max-width: 768px){
    .section3{
        padding: 100px 0;
        height: 100%;
    }
    .section3>div{
        flex-direction: column;
    }
    .dokdo, .kolong, .domino{
        width: 100%;
    }
    .CloneWrap{
        width: 100%;
        padding: 0 50px;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    .hovering{
        display: block;
        padding: 30px;
    }
}
@media screen and (max-width: 460px){
    .cloneImgWrap{
        height: 300px;
    }
    .hovering{
        padding: 20px 10px;
    }
    .CloneTitle{
        font-size: 16px;
        margin: 0 0 5px 0;
    }
    .btn{
        margin: 20px 0 0 0;
    }
}